@model IEnumerable<RobotReviewSite1._0.Models.Category>
<link href="~/Category Index.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<div class="clip-text">
    Category Index
</div>


<div class="row">

    @foreach (var item in Model)
    {<div class="container">
            <div class="col-md-5 col-lg-5">

                @Html.DisplayFor(modelItem => item.Function)
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Categories", new { id = item.CategoryID })"><i class="far fa-edit"></i></a>
                    </li>
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="@Url.Action("Delete", "Categories", new { id = item.CategoryID })"><i class="far fa-trash-alt"></i></a>
                    </li>

                </ul>
            </div>

        </div>

    }
</div>
<a class="btn btn-primary" href="@Url.Action("Create", "Categories")"><i class="fas fa-user-plus"></i></a>
