@font-face {
    font-family: 'TSalvacion';
    src: url('Content/TSalvacion.ttf') format('truetype');
}
html, body {
    font-family: 'TSalvacion';
    background-color: black;
}

/*styling for background  efect on title*/
#fronttext {
    font-family: 'TSalvacion'!important;
    color: white;
    font-size: 65px;
}

/*styling effect for background displays*/
.griditem2 {
    text-align:center;
    display:flex;
   justify-content:center;
    margin:auto;
    height:500px;
    width:100vw!important;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/giphy.gif);
    background-size:cover;
    
}

.griditem4 {
    display: flex;
    flex-direction: column;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/uglyfiedcode.png);
    background-size: cover;
    width: 100vw!important;
    height: 200px;
    background-color: black;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
}


