@{
    ViewBag.Title = "Home Page";
}
<link href="~/LAUNCHPAGE.css" rel="stylesheet" />

@*front page...header with two different backgrounds*@
<body>
    
    <div class="griditem2" id="fronttext">
            <h>CyberDyne Reviews <br />WE are THE future.</h>

        </div>
    
        <div class="griditem4">

        </div>
</body>