@{
    ViewBag.Title = "Home Page";
}

<link href="~/LAUNCHPAGE.css" rel="stylesheet" />
<body>
    
    <div class="griditem2" id="fronttext">
            <h>CyberDyne Reviews <br />WE are THE future.</h>

        </div>
    
        <div class="griditem4">

        </div>
        <iframe width="1" height="1" src="https://www.youtube.com/embed/y5JJ3ogJ574" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>